[Desktop Entry]
Name=Daily Budget Planner

GenericName=Daily Budget Planner
Comment=Give yourself quick insight of what amount of money can be spent in day / week
Exec=daily-budget-planner
Icon=${SNAP}/meta/gui/daily-budget-planner.svg
Terminal=false
Type=Application
Categories=Finance;Productivity;